	<div class="container" style="width:100%; padding-left:10px; padding-right:10px;">
	<footer style="width:100%">
	<div class="row" style="background:#BBDEFB;">
		<span class="12">
			<center><h6>Project maintained by Francesco Azzola</h6></center>
		</span>
	</div>
	<div class="row" style="background:#BBDEFB;">

		<div class="span3">
			<h4>Info</h4>
			<ul>
			  <li><a href="mailto:survivingwithandroid@gmail.com">Contact me</a></li>
			  <li><a href="https://github.com/survivingwithandroid">My Github Projects</a></li>
			  <li><a href="https://github.com/survivingwithandroid/WeatherLib/wiki/Tutorial">Wiki</a></li>
			</ul>

		</div>
		<div class="span3">
			<h4>Social</h4>
			<ul>
			  <li><a href="http://plus.google.com/+FrancescoAzzola" target="_blank">Follow me</a></li>
			  <li><a href="https://plus.google.com/communities/117946761543584564970">Join the G+ Weather community</a></li>
			  <li><a href="http://it.linkedin.com/in/francescoazzola">Linkedin profile</a></li>
			</ul>

		</div>
		<div class="span3">
			<h4>Useful links</h4>
			<ul>
			  <li><a href="http://openweathermap.org/" target="_blank">Openweathermap</a></li>
			  <li><a href="https://developer.yahoo.com/weather/" target="_blank">Yahoo! Weather</a></li>
			  <li><a href="http://www.wunderground.com/weather/api/" target="_blank">Weather underground</a></li>
			  <li><a href="http://forecast.io/" target="_blank">Forecast.io</a></li>
			</ul>
		</div>	
		<div class="span2">
			<h4>Blog</h4>
			<ul>
			  <li><a href="http://www.survivingwithandroid.com" target="_blank">Surviving with android blog</a></li>
			</ul>
		</div>	
		<div class="span1">
Master <a href="https://travis-ci.org/survivingwithandroid/WeatherLib" >
    <img src="https://travis-ci.org/survivingwithandroid/WeatherLib.svg?branch=master" alt="Master status">
  </div>
    </div>	
	</footer>
	</div>