  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="{{ page.descr }}" />
	<meta content='android weather, weather api,code,source,weather,weather library,yahoo! weather, weatherunderground,api,android weather,android app,open source library' name='keywords'/>
	<meta content='https://plus.google.com/111119552788205366558' name='author'/>
	<meta content='https://plus.google.com/111119552788205366558' name='publisher'/>

    <meta name="google-site-verification" content="2gOcYkpKozlNli7dQdtWHFue5qWjPw7YCynvKKb9Xkk" />

	<link rel="stylesheet" href="./css/bootstrap-combined.min.css">
	<link rel="stylesheet" href="./css/site.css">
	<link rel="stylesheet" href="./css/bjqs.css">
	<link href="http://fonts.googleapis.com/css?family=Roboto:400,300italic,100,100italic,300" rel="stylesheet" type="text/css">

	<script src="./javascripts/jquery-1.7.1.min.js"></script>
    <script src="./javascripts/bjqs-1.3.min.js"></script>
	<script src="./javascripts/jquery.smooth-scroll.min.js"></script>
	
	<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "7986e5e5-4e81-4997-a3dd-43955d4a952c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>


    <title>Android Weatherlib {{ page.title }}</title>
  </head>
